.useTypeDescContent{
    display:flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 4%;
    .needAToolBtn {
        display:flex;
        justify-content: flex-start;
        white-space: nowrap;
        background-color: @dullorange;
        color:@black;
        border-left: 1px solid @dullorange;
        border-bottom-left-radius: 20px;
        font-size: x-large; 
        text-decoration: none;
        width: 100%;
        cursor: pointer;
        padding:5%;
        
    } 
    .haveAToolBtn {
        display:flex;
        justify-content: flex-end;
        white-space: nowrap;
        background-color: @dullorange;
        color:@black;
        border-right: 1px solid @dullorange;
        border-bottom-right-radius:20px;
        color:@black;
        font-size: x-large; 
        text-decoration: none;
        width: 100%;
        cursor: pointer;
        padding:5%;
        
    }
    .haveAToolDesc {
        display:flex;
        width:75%;
        a{
            .btn-creator(@black, 25%, @dullorange, 6%);
            font-size: medium;  
            }
        h2 {
            font-size:large;
            }
        h3 { 
            font-size:large;
            font-style: italic;
            } 
        p   {
            font-size:small;
            }   
        
        .workHardimg img{
            border:0px solid @dullorange;
            border-radius:100%;
        }
    }
        
    .needAToolDesc {
            display:flex;
            margin:0 4%;
            width:75%;
            a {
                .btn-creator(@black, 25%, @dullorange, 6%);
                font-size:medium;  
            }
            h2 {
                font-size:large;
                }
            h3 {
                font-size:large;
                font-style: italic;
                } 
            p {
                    font-size:small;
            }       
            .toolneededimg img{
                border:0px solid @dullorange;
                border-radius:100%;  
            }  
        }
       
}

.mainCntnt{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    align-content: center;  
    padding:0 4%;
   .toolTypescontent{
        display:flex;
        justify-content:space-around;
        flex-wrap: wrap;
        margin:0 2%;
        justify-content: center;
        align-content: center;
        .toolcatbox{
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            border:1px solid @dullorange;
            border-radius: 5px;
            width:20%;
            padding: 2%;
            margin: 2%;
            
            h2{
                display:flex;
                justify-content: space-around;
                align-items:center;
                align-content: center;
                white-space: nowrap;
                font-size:large;
                margin: 2%;
                display:flex;                       
            }
            .ctbimg {
                    display:flex;
                    justify-content: space-around;
                    align-items:center;
                    align-content: center;  
                    img{               
                        margin:4%;
                        display:flex;
                        justify-content: space-around;
                        align-items:center;
                        align-content: center;        
                }
            }
            a {
                display:flex;
                border:1px solid @dullorange;
                .btn-creator(@black, 70%, @dullorange, 15%);
                margin:10%;
                padding:2%;
                font-size:medium;
            }
         
        }
    }
}


#havetoolcnt  {
    padding: 2%;
    margin:2%;
    width: 100%;
    text-align:left;
    cursor: pointer;
    p {
        text-align:center;
    }
}
#needtoolcnt  {
    padding: 2%;
    margin:2%;
    width: 100%;
    cursor: pointer;
    text-align:left;
    p {
        text-align:center;
    }
}

input {
    display:none;
}

span#needtoolcnt {
    display:none;
}
input#ndtlshw:checked ~ span#needtoolcnt {
  display:block;
}

input#ndtlhd:checked ~ span#needtoolcnt {
    display:none;
}

span#havetoolcnt {
    display:none;
}
input#hvtlshw:checked ~ span#havetoolcnt {
  display:block;
}

input#hvtlhd:checked ~ span#havetoolcnt {
    display:none;
}

