*{
  font-family: 'Overlock', cursive;
}

@import url('https://fonts.googleapis.com/css?family=Alegreya+SC|Overlock|Saira&display=swap'); //Saira not used

.mainCntnt{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    align-content: center;
    padding:0 4%;
    .useTypeDescContent{
        display:flex;
        justify-content: center;
        text-align: center;
        padding: 4%;
        .needAToolDesc {
            display:flex;
            flex-direction: column;
            width:75%;
            margin:2%;
            .toolbtn {
                display:flex;
                white-space: nowrap;
                flex-direction: column;
                background-color: @dullorange;
                color:@black;
                border-right: 0px solid @dullorange;
                border-radius:20px;
                font-size:3rem;
                text-decoration: none;
                cursor: pointer;
                width:100%;
                margin:2%;
                padding:5%;
                }
            a {
                .btn-creator(@black, 35%, @dullorange, 8%);
                font-size:1.8rem;
                padding:2%;
                justify-content: space-around;
                align-items:center;
                align-content: center;
                @media @tablet{
                    font-size:1rem;
                };
            }
            h2 {
                font-size:3rem;
                }
                @media @tablet{
                    font-size:1.3rem;
                };
            h3 {
                font-size:2.5rem;
                font-style: italic;
                @media @tablet{
                    font-size:1.2rem;
                };
                }
            p {

                font-size:2rem;
                @media @tablet{
                    font-size:1rem;
                    };
            }
            .toolneededimg img{
                border:0px solid @dullorange;
                border-radius:100%;
            }
        }
        .haveAToolDesc {
            display:flex;
            flex-direction: column;
            width:75%;
            margin:2%;
            .toolbtn {
                display:flex;
                white-space: nowrap;
                flex-direction: column;
                background-color: @dullorange;
                color:@black;
                border-right: 0px solid @dullorange;
                border-radius:20px;
                font-size:3rem;
                text-decoration: none;
                cursor: pointer;
                width:100%;
                margin:2%;
                padding:5%;
                }
            a {
                .btn-creator(@black, 35%, @dullorange, 8%);
                font-size: 1.8rem;
                padding:2%;
                flex-direction: column;
                justify-content: space-around;
                align-items:center;
                align-content: center;
                @media @tablet{
                    font-size:1rem;
                };

                }
            h2 {
                font-size:3rem;
                @media @tablet{
                    font-size:1.3rem;
                };
            }
            h3 {
                font-size:2.5rem;
                font-style: italic;
                @media @tablet{
                    font-size:1.2rem;
                };

                }
            p   {
                font-size:2rem;
                @media @tablet{
                    font-size:1rem;
                };
                }

            .workHardimg img {
                border:0px solid @dullorange;
                border-radius:100%;
                margin:2%
            }
        }
    }
}
   .toolTypescontent{
        display:flex;
        justify-content:center;
        flex-wrap: wrap;
        margin:0 2%;
        justify-content: center;
        align-content: center;
        @media @tablet{
            flex-direction: column;
        };
        .toolcatbox{
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            border:2px solid @dullorange;
            border-radius: 5px;
            width:30%;
            padding: 1%;
            margin: 2%;
            @media @tablet{
                width:70%;
            };
            h2{
                display:flex;
                justify-content: space-around;
                align-items:center;
                align-content: center;
                white-space: nowrap;
                font-size:1.4rem;
                margin: 2%;
                display:flex;
                padding:2%;
                @media @tablet{
                    font-size:1.2rem;
                };
            }
            .ctbimg {
                    display:flex;
                    justify-content: space-around;
                    align-items:center;
                    align-content: center;
                    img{
                        margin:4%;
                        display:flex;
                        justify-content: space-around;
                        align-items:center;
                        align-content: center;
                    }
                }
            a {
                border:0px solid @dullorange;
                .btn-creator(@black, 70%, @dullorange, 15%);
                margin:10%;
                padding:2%;
                font-size:1.8rem;
                justify-content: space-around;
                align-items:center;
                align-content: center;
                @media @tablet {
                    font-size:1.2rem;
                };
        }

    }
}


.contactinfo{
    h1{
        font-size:3rem;
        text-align:center;
    }
    p{
        text-align:center;
        font-size:2rem;
        padding: 0% 10%;
    }
}
#havetoolcnt  {
    padding: 2%;
    margin: 2%;
    width: 100%;
    display:flex;
    flex-direction: column;
    text-align:right;
    justify-content: space-around;
    align-items:center;
    align-content: center;
    cursor: pointer;
    p {
        text-align:center;
    }
    h2{
        text-align:center;
    }
    h3{
        text-align:center;
    }
   }
#needtoolcnt  {
    padding: 2%;
    margin:2%;
    width: 100%;
    cursor: pointer;
    text-align:right;
    p {
        text-align:center;
    }
    h2{
        text-align:center;
    }
    h3{
        text-align:center;
    }
}

input {
    display:none;
}

span#needtoolcnt {
    display:none;
}
input#ndtlshw:checked ~ span#needtoolcnt {
  display:block;
}

input#ndtlhd:checked ~ span#needtoolcnt {
    display:none;
}

span#havetoolcnt {
    display:none;
}
input#hvtlshw:checked ~ span#havetoolcnt {
  display:block;
}

input#hvtlhd:checked ~ span#havetoolcnt {
    display:none;
}

.aboutteam{
    margin:2%;
    font-size:1.6rem;
    text-align:center;
    padding: 2% 10%;
    background-color:@dullorange;
    border:0px solid @dullorange;
    border-radius:100%;

}
.teemmembers{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    h1{
        width:100%;
        text-align: center;
    }
    @media @tablet{
        flex-direction: column;
        align-items:center;
        align-content: center;
    };

    .memberbox {
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:center;
        align-content: center;
        border: 1px solid @dullorange;
        width:33%;
        margin:2%;
        padding:2%;
        @media @tablet{
            width:70%;
        };
        img{
            width:100%;
        }

    }
}
.aboutcontent {
padding:0% 10%;
margin:2%;
border: 1px double @dullorange;
text-align:center;
h1{
    font-size:3.5rem;
    margin: 2%;
    text-align: center;
    padding: 2% 10%;
    background-color: @dullorange;
    border: 0px solid @dullorange;
    border-radius: 100%;
}
h2{
    font-size: 3rem;
    text-align:center;
}
p{
    font-size:1.4rem;
    text-align:center;
}
}
.meetmaincnt {
    .aboutteam {
        margin: 2%;
        font-size: 1.6rem;
        text-align: center;
        padding: 2% 10%;
        background-color: @dullorange;
        border: 0px solid @dullorange;
        border-radius: 100%;

    }
    .teemmembers{
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        h1{
            width:100%;
            text-align: center;
        }
        @media @tablet{
            flex-direction: column;
            align-items:center;
            align-content: center;
        };

        .memberbox {
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            align-items:center;
            align-content: center;
            border: 1px solid @dullorange;
            width:33%;
            margin:2%;
            padding:2%;
            @media @tablet{
                width:70%;
            };
            img{
                width:100%;
            }

        }
    }

}

